<header class="header">
    <nav>
        @for (item of menuItems; track item.label) {
            <a (click)="navigate(item.path)">
              {{ item.label }}
            </a>
        }
        @if (isLoggedIn) {
            <span>
                Bonjour, {{ authService.user()?.email }}
                <button (click)="logout()">Déconnexion</button>
            </span>
        } @else {
            <span>
                <button (click)="navigate('/login')">Connexion</button>
            </span>
        }
    </nav>
</header>