<nav class="header-nav">
    <a
        routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
    >Login</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/merchants" routerLinkActive="active">Merchants</a>
    <a routerLink="/categories" routerLinkActive="active">Categories</a>
    <a routerLink="/configurations" routerLinkActive="active">Configurations</a>
    <a routerLink="/components" routerLinkActive="active">Components</a>
</nav>