version: '3.8'

services:

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: apidb
    volumes:
      - mongo_data:/data/db
  backend:
    build: ./projet-api-back
    container_name: api-back
    restart: always
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_CONNECTION=mongodb://admin:admin@mongo:27017/apidb?authSource=admin
      - JWT_SECRET=supersecret
      - JWT_EXPIRATION=3600000
    depends_on:
      - mongo

  frontend:
    build: ./projet-api-front
    container_name: api-front
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mongo_data:
